lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
.DS_Store

pids
logs
results

npm-debug.log
node_modules
.idea
.tmp
config.json
server/tmp/*
server/controller/tmp/*
server/importer/tmp/*
server/exporter/tmp/*
server/*.DS_Store
server/logs/*.log
public/tmp/*.csv
public/tmp/*.json
