.import-overflow-hidden {
    overflow: hidden;
}
.import-hand {
    cursor: hand;
    cursor: pointer;
}
.import-config,
.import-config-wrapper {
    background: #EEEEEE;
}
.import-config {
    max-height: 400px;
    overflow: auto;
}
.import-logs {
    width: 100%;
    padding: 5px;
    background: #f2ffbe;
    min-width: 750px;
    height: 500px;
    border: 1px dashed black;
    overflow: auto;
}
.import-logs-line {
    font-size: 12px;
    padding: 1px;
    margin: 0;
}
.import-toolbar {
    margin: 10px 0;
}